.App {
  text-align: center;
  background-color: #1f1a14;
}

Body {
  background-color: #1f1a14;
}

.App-header {
  background-color: #332a1f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.PoetrySection {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  min-width: 28rem;
  min-height: 90vh;
  border: solid 2px rgb(51, 45, 45);
  color: white;
}

.PoetryCard {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  font-size: 5rem;
  display: flex;
  flex-direction: row;
}

.PoetryDate {
  font-size: 24px;
  width: 6rem;
}

.PoetryText {
  font-size: 20px;
  padding-left: 1rem;
  padding-right: 2rem;
  text-align: justify;
  text-justify: inter-word;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
